body{
    background-color: aqua;
}
tbody>tr:nth-child(even) { background-color:#0F0; }

tbody>tr:nth-child(odd) { background-color:#F00; }

h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    /*static = default*/
    /*relative = เหมือนกับstatic แต่ใช้ top left กำหนดตวามห่างได้*/
    /*absolute = ไม่สน element ก่อนหน้า จะตามตำแหน่งที่ fix*/
    /*fixed = ไม่scroll ตามscroll bar*/
}
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

table + h2{
    font-size: 3em;
}
img{
    height: 10em;
    width: 10em;
}